BSC_RPC_URL=https://cosmopolitan-sparkling-arrow.bsc.quiknode.pro/833002b5d68ae8582e9d5bb74ac381a52ec5add5/
BSC_WSS_URL=wss://cosmopolitan-sparkling-arrow.bsc.quiknode.pro/833002b5d68ae8582e9d5bb74ac381a52ec5add5/
ARBITRAGE_CONTRACT_ADDRESS=0xd9d2aea07b3fb80d432b9b205d60a19b2f501940
TOKENS_CONFIG_PATH=/Users/andrein/quant-exe/cycle-arbitrage/tokens.simple.config.json